# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/
*.swp
*.DS_Store
.DS_Store

# Project specific data directories
chroma_db_dir/
pdf_files/
md_files/
slides/*.md
